body{ background: -webkit-linear-gradient(15deg ,#FF7514,#1E2460);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;}

 @keyframes color{
        0%{
            background-position: 0% 50%;
        }
    
        50%{
            background-position: 100% 50%;
        }
    
        100%{
            background-position: 0% 50%;
        }
    }           

.lol{
     margin: auto;
     backdrop-filter: blur(100px);
     background-color: rgba(0, 0, 0, 0.5);
     width: 500px;
     height: 40rem;
     padding-top: 50px;
     border-radius: 30px;
     margin-top: 30px;
     border: 1px solid white;
     }

.spinner{
    width: 350px;
    height: 350px;
    background: #f5dad8;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 6s linear infinite;
    margin: auto;
}

img{
    display: block;
    width: 100%;
    animation: bounce 0.2s linear infinite alternate;
}

@keyframes spin {
    to {
        transform: rotate(-1turn);
    }
}

@keyframes bounce {
    to {
        translate: 0 20px;
    }
}