body{ background: -webkit-linear-gradient(15deg ,#FF7514,#1E2460);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    background-repeat: no-repeat;}

 @keyframes color{
        0%{
            background-position: 0% 50%;
        }
    
        50%{
            background-position: 100% 50%;
        }
    
        100%{
            background-position: 0% 50%;
        }
    }           

.lol{
     margin: auto;
     backdrop-filter: blur(100px);
     background-color: rgba(0, 0, 0, 0.5);
     width: 400px;
     height: 40rem;
     padding-top: 50px;
     border-radius: 30px;
     margin-top: 30px;
     border: 1px solid white;
     }

.spinner{
    width: 320px;
    height: 320px;
    background: #f5dad8;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 6s linear infinite;
    margin: auto;
}

img{
    display: block;
    width: 100%;
    animation: bounce 0.2s linear infinite alternate;
}

@keyframes spin {
    to {
        transform: rotate(-1turn);
    }
}

@keyframes bounce {
    to {
        translate: 0 20px;
    }
}

.tag-list{
    position: relative;
    overflow: hidden;
}

.inner{gap: 1rem;
       animation: pedro 10s linear infinite;}
 

h1{ 
   text-align: center;
   padding-left: 500px;
   width: 800px;
}

h3{margin: 10px;
   margin-top: -23px;}

h1,h3{color: white;}   

.fade{
    position: absolute;
    background: -webkit-linear-gradient(90deg, #1e293b, translate 70%, #1e293b);
    inset: 0;
    pointer-events: none;
}      

@keyframes pedro {
    0%{transform: translate(0);}

    100%{transform: translate(-400%);}
}      


.pl{text-align: center;
    padding-top: 100px;}
   
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.controls div:nth-child(2){
    transform: scale(1.5);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 166, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
}
    
#progress{
    -webkit-appearance: none;
    width: 85%;
    height: 6px;
    border-radius: 4px;
    cursor: pointer;
}    
